/****** Script for SelectTopNRows command from SSMS  ******/
SELECT * FROM AspNetUsers
SELECT * FROM AspNetUserClaims
SELECT * FROM AspNetUserLogins
SELECT * FROM AspNetRoles
SELECT * FROM AspNetUserTokens

SELECT * FROM ApiClaims
SELECT * FROM ApiSecrets
SELECT * FROM ApiScopes
SELECT * FROM ApiScopeClaims

SELECT * FROM Clients
SELECT * FROM ClientClaims
SELECT * FROM ClientScopes
SELECT * FROM ClientSecrets
SELECT * FROM ClientGrantTypes
SELECT * FROM ClientRedirectUris
SELECT * FROM ClientPostLogoutRedirectUris

SELECT * FROM IdentityClaims
SELECT * FROM IdentityResources
SELECT * FROM IdentityProperties

SELECT * FROM PersistedGrants
SELECT * FROM DeviceCodes

SELECT * FROM ClientPostLogoutRedirectUris
--https://localhost:44393/Home/Index, 2
